{% comment %}
  Renders icon with text block
{% endcomment %}

{%- liquid
  assign heading_1_empty = false
  assign heading_2_empty = false
  assign heading_3_empty = false

  if block.settings.heading_1 == blank
    assign heading_1_empty = true
  endif

  if block.settings.heading_2 == blank
    assign heading_2_empty = true
  endif

  if block.settings.heading_3 == blank
    assign heading_3_empty = true
  endif
-%}

<ul
  class="icon-with-text icon-with-text--{{ block.settings.layout }} list-unstyled"
  {{ block.shopify_attributes }}
>

  {%- unless heading_1_empty -%}
    <li class="icon-with-text__item">
      <span class="icon-with-text__icon">
        {%- if block.settings.custom_svg_1 != blank -%}
          {{ block.settings.custom_svg_1 }}
        {%- elsif block.settings.image_1 != blank -%}
          <img src="{{ block.settings.image_1 | image_url }}" alt="" loading="lazy">
        {%- endif -%}
      </span>

      <span class="h4 inline-richtext">
        {{ block.settings.heading_1 }}
      </span>

      {%- if block.settings.tooltip_1 != blank -%}
        <div class="icon-with-text__tooltip">
          {{ block.settings.tooltip_1 }}
        </div>
      {%- endif -%}
    </li>
  {%- endunless -%}

  {%- unless heading_2_empty -%}
    <li class="icon-with-text__item your-special-class">
      <span class="icon-with-text__icon">
        {%- if block.settings.custom_svg_2 != blank -%}
          {{ block.settings.custom_svg_2 }}
        {%- elsif block.settings.image_2 != blank -%}
          <img src="{{ block.settings.image_2 | image_url }}" alt="" loading="lazy">
        {%- endif -%}
      </span>

      <span class="h4 inline-richtext">
        {{ block.settings.heading_2 }}
      </span>

      {%- if block.settings.tooltip_2 != blank -%}
        <div class="icon-with-text__tooltip">
          {{ block.settings.tooltip_2 }}
        </div>
      {%- endif -%}
    </li>
  {%- endunless -%}

  {%- unless heading_3_empty -%}
    <li class="icon-with-text__item">
      <span class="icon-with-text__icon">
        {%- if block.settings.custom_svg_3 != blank -%}
          {{ block.settings.custom_svg_3 }}
        {%- elsif block.settings.image_3 != blank -%}
          <img src="{{ block.settings.image_3 | image_url }}" alt="" loading="lazy">
        {%- endif -%}
      </span>

      <span class="h4 inline-richtext">
        {{ block.settings.heading_3 }}
      </span>

      {%- if block.settings.tooltip_3 != blank -%}
        <div class="icon-with-text__tooltip">
          {{ block.settings.tooltip_3 }}
        </div>
      {%- endif -%}
    </li>
  {%- endunless -%}

</ul>


<style>
  .icon-with-text__item {
  position: relative;
}

.icon-with-text__tooltip {
 position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #646464;
    padding: 7px 10px;
    border-radius: 6px;
    min-width: 350px;
    max-width: 320px;
    font-size: 12px;
    line-height: 1.4;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;
    font-weight: 300;
    font-family: "Helvetica Neue";
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.icon-with-text__tooltip ul {
    padding-left: 18px;
    list-style: circle;
}

.icon-with-text__tooltip p {
    margin: 5px 0;
    font-size: 10px;
}
.icon-with-text__item:hover .icon-with-text__tooltip {
  opacity: 1;
  visibility: visible;
}

.icon-with-text__tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

</style>