{% comment %}
  Renders product variant-picker
{% endcomment %}

{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif

        assign option_name_downcase = option.name | downcase
        assign is_us_size = false

        if option_name_downcase == 'us size'
          assign is_us_size = true
        endif
      -%}

      {%- if is_us_size -%}
        <div class="size-option-wrapper">
          <div class="size-option-header">
            <span class="size-option-title">{{ option.name }}</span>
            <button
              type="button"
              class="size-chart-button"
              data-size-chart
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                <g clip-path="url(#clip0_936_28557)">
                  <path d="M11.1769 7.56789C11.2173 7.56789 11.2435 7.56789 11.2696 7.56789C12.7309 7.56789 14.192 7.56789 15.6532 7.56789C16.0298 7.56789 16.27 7.81052 16.27 8.19044C16.27 9.33671 16.2647 10.483 16.2727 11.6292C16.2755 12.0066 15.9948 12.2672 15.6451 12.2602C15.0435 12.2483 14.4416 12.2569 13.8398 12.2569C11.1102 12.2569 8.3805 12.2614 5.65071 12.2547C4.58482 12.2521 3.54682 12.0764 2.55864 11.6581C1.93058 11.3923 1.36535 11.0312 0.906292 10.5174C0.403033 9.95403 0.116158 9.2923 0.0332441 8.5422C0.0102767 8.33366 0.00290986 8.12267 0.00233206 7.91268C-0.000556911 6.81967 -0.000990257 5.72651 0.00233206 4.6335C0.00319876 4.33238 0.00160982 4.02952 0.0328107 3.73073C0.0868346 3.21397 0.283718 2.74467 0.572182 2.31556C1.03471 1.62742 1.66046 1.12822 2.3879 0.749901C3.09007 0.384789 3.83759 0.167405 4.61978 0.0652436C5.5808 -0.0602817 6.53185 -0.00557297 7.46932 0.240834C8.37111 0.477809 9.19447 0.87383 9.89851 1.4971C10.3824 1.92549 10.7617 2.43122 10.9901 3.04302C11.1525 3.47779 11.2058 3.9278 11.1821 4.38985C11.1731 4.56355 11.1772 4.73798 11.1772 4.91197C11.1767 5.76322 11.177 6.61448 11.177 7.46573V7.56789H11.1769ZM5.58932 0.683728C5.31602 0.704335 5.04157 0.715799 4.76957 0.747144C3.89999 0.847129 3.08068 1.10442 2.33345 1.56981C1.78512 1.91141 1.32129 2.34153 1.01015 2.91793C0.697997 3.49622 0.607139 4.10687 0.773833 4.74872C0.924493 5.32918 1.25181 5.79965 1.68502 6.20046C2.20734 6.6837 2.82009 7.0118 3.49034 7.2334C4.46146 7.55454 5.45614 7.64074 6.46945 7.51129C7.31519 7.40333 8.11371 7.15286 8.84303 6.70082C9.34947 6.38693 9.78223 5.99527 10.0999 5.48359C10.368 5.05158 10.5062 4.58125 10.4947 4.07277C10.4808 3.46212 10.2517 2.92983 9.87396 2.45893C9.44986 1.93013 8.9102 1.55239 8.30207 1.26942C7.44245 0.869477 6.53344 0.699546 5.58918 0.683583L5.58932 0.683728ZM0.693664 6.13167C0.693664 6.17622 0.693664 6.20264 0.693664 6.22905C0.693664 6.79253 0.692364 7.35602 0.694386 7.91965C0.694964 8.07899 0.696697 8.23919 0.712298 8.39766C0.787266 9.16097 1.11155 9.79847 1.68545 10.3049C2.12255 10.6908 2.63159 10.9489 3.17804 11.1376C3.32509 11.1884 3.4743 11.2326 3.63637 11.2843C3.63637 11.2415 3.63637 11.2136 3.63637 11.1856C3.63637 10.772 3.6358 10.3585 3.63695 9.94489C3.63695 9.89947 3.63998 9.85201 3.6527 9.80891C3.70138 9.64464 3.86431 9.54524 4.0352 9.57092C4.20131 9.59588 4.32352 9.73621 4.32395 9.90933C4.32525 10.3882 4.32438 10.8671 4.32438 11.346V11.43C4.74372 11.5036 5.1606 11.5478 5.59033 11.5602C5.59033 11.5261 5.59033 11.5001 5.59033 11.4743C5.59033 11.2373 5.5899 11.0002 5.59062 10.7632C5.59062 10.7271 5.59134 10.6902 5.59871 10.6551C5.63395 10.4866 5.78996 10.3707 5.95882 10.3847C6.14169 10.4 6.27588 10.5393 6.2782 10.725C6.28137 10.9741 6.27906 11.2232 6.27906 11.4724C6.27906 11.5005 6.27906 11.5285 6.27906 11.5599H7.54328C7.54328 11.5293 7.54328 11.5033 7.54328 11.4775C7.54328 11.3371 7.54328 11.1969 7.54328 11.0566C7.54328 10.6818 7.54198 10.3068 7.54371 9.93197C7.54472 9.70632 7.70766 9.55191 7.92072 9.56918C8.1049 9.58413 8.23504 9.73418 8.23533 9.93691C8.23634 10.4496 8.23562 10.9623 8.23577 11.4751C8.23577 11.503 8.23577 11.5309 8.23577 11.5583H9.44827C9.44827 11.5233 9.44827 11.4947 9.44827 11.4661C9.44827 11.2267 9.44769 10.9873 9.44856 10.7478C9.44928 10.539 9.59373 10.3853 9.7896 10.3831C9.98692 10.381 10.137 10.5381 10.1374 10.7481C10.1379 10.9948 10.1393 11.2415 10.1364 11.4882C10.1357 11.5475 10.1523 11.5666 10.213 11.5661C10.5861 11.5635 10.9592 11.565 11.3325 11.5647C11.3531 11.5647 11.3738 11.5608 11.4011 11.5581C11.4011 11.5268 11.4011 11.5007 11.4011 11.4746C11.4011 11.2956 11.4011 11.1166 11.4011 10.9376C11.4011 10.6039 11.4011 10.2701 11.4012 9.93633C11.4012 9.78207 11.4639 9.66322 11.6066 9.59893C11.8424 9.49256 12.0918 9.66002 12.0928 9.92588C12.0947 10.441 12.0934 10.9562 12.0934 11.4714V11.565C12.1263 11.565 12.1497 11.565 12.1731 11.565C12.5415 11.565 12.9098 11.5635 13.2782 11.5663C13.343 11.5667 13.3637 11.5509 13.3636 11.4822C13.3612 10.4374 13.362 9.39258 13.3618 8.34789C13.3618 8.3222 13.3597 8.29637 13.3581 8.26386H13.2659C12.0358 8.26386 10.8055 8.26415 9.57538 8.26386C8.29224 8.26343 7.00911 8.25719 5.72597 8.26328C4.70486 8.26822 3.71856 8.10293 2.77705 7.69762C2.09915 7.40565 1.49116 7.00934 0.98415 6.46602C0.887658 6.3627 0.798245 6.2527 0.693519 6.13196L0.693664 6.13167ZM15.5743 8.26778H14.0568V11.5579H15.5743V8.26778ZM10.4835 6.13762C10.003 6.76061 9.40508 7.20785 8.73469 7.56324H10.4835V6.13762Z" fill="#D22030"/>
                  <path d="M5.47913 5.96019C4.97255 5.9541 4.3949 5.80086 3.89164 5.41877C3.55306 5.16177 3.30561 4.837 3.22256 4.40963C3.12404 3.90346 3.27947 3.46768 3.61864 3.09401C3.96473 2.71264 4.40487 2.49178 4.89961 2.38178C5.6597 2.21272 6.38887 2.29834 7.07024 2.69029C7.41157 2.88664 7.69079 3.15278 7.85546 3.51702C8.10247 4.06338 8.02634 4.57941 7.66753 5.05177C7.37069 5.44256 6.96508 5.6762 6.50588 5.82364C6.21005 5.91855 5.90584 5.96019 5.47928 5.96005L5.47913 5.96019ZM5.56898 5.26828C5.83477 5.26422 6.07065 5.23534 6.29931 5.16147C6.6236 5.0567 6.91582 4.90056 7.12845 4.62295C7.36246 4.31748 7.36347 3.95135 7.13206 3.64371C7.02329 3.49917 6.88852 3.3825 6.73223 3.29311C6.24356 3.01347 5.71935 2.93873 5.17001 3.03436C4.80326 3.09822 4.46525 3.23288 4.19051 3.49453C3.96517 3.70901 3.83574 3.9647 3.90204 4.28701C3.94798 4.51019 4.07986 4.6823 4.25118 4.82277C4.64191 5.14319 5.10212 5.25754 5.56898 5.26828Z" fill="#D22030"/>
                  <path d="M15.2424 9.95351C15.2428 10.1858 15.058 10.3755 14.8282 10.3787C14.5949 10.382 14.4031 10.1934 14.4014 9.95903C14.3996 9.72394 14.5871 9.53108 14.8193 9.52934C15.0505 9.5276 15.2419 9.71959 15.2424 9.95351Z" fill="#D22030"/>
                </g>
                <defs>
                  <clipPath id="clip0_936_28557">
                    <rect width="16.2727" height="12.2603" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              Size chart
            </button>
          </div>
      {%- endif -%}

      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {% unless is_us_size %}
              {{ option.name }}:
            {% endunless %}
            <span data-selected-value>
              {{ option.selected_value }}
            </span>
          </legend>

          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>

      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          {% unless is_us_size %}
            <legend class="form__label">{{ option.name }}</legend>
          {% endunless %}

          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>

      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          {% unless is_us_size %}
            <label
              class="form__label"
              for="Option-{{ section.id }}-{{ forloop.index0 }}"
            >
              {{ option.name }}
            </label>
          {% endunless %}

          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span data-selected-value class="dropdown-swatch">
                {% render 'swatch',
                  swatch: option.selected_value.swatch,
                  shape: block.settings.swatch_shape
                %}
              </span>
            {%- endif -%}

            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>

            <span class="svg-wrapper">
              {{ 'icon-caret.svg' | inline_asset_content }}
            </span>
          </div>
        </div>
      {%- endif -%}

      {%- if is_us_size -%}
        </div>
      {%- endif -%}

    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
