{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg class="icon icon-facebook" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <path d="M7.01074 10.5929V14.8521H10.2052V22.3058H14.4644V14.8521H17.6589L18.7237 10.5929H14.4644V8.46323C14.4644 8.18083 14.5766 7.90999 14.7763 7.7103C14.976 7.51061 15.2469 7.39842 15.5293 7.39842H18.7237V3.13916H15.5293C14.1172 3.13916 12.763 3.70009 11.7646 4.69855C10.7661 5.697 10.2052 7.0512 10.2052 8.46323V10.5929H7.01074Z" stroke="white" stroke-width="1.91667" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg class="icon icon-instagram" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <path d="M17.3828 3.24561C20.2639 3.24586 22.6001 5.58139 22.6006 8.4624V16.981C22.6006 19.8624 20.2642 22.1985 17.3828 22.1987H8.86426C5.98288 22.1985 3.64746 19.8624 3.64746 16.981V8.4624C3.64797 5.58139 5.98319 3.24586 8.86426 3.24561H17.3828ZM8.86426 5.16162C7.04173 5.16188 5.56398 6.63994 5.56348 8.4624V16.981C5.56348 18.8039 7.04142 20.2825 8.86426 20.2827H17.3828C19.2057 20.2825 20.6846 18.8039 20.6846 16.981V8.4624C20.6841 6.63994 19.2053 5.16187 17.3828 5.16162H8.86426ZM13.123 8.56982C15.4164 8.56982 17.2761 10.4288 17.2764 12.7222C17.2764 15.0157 15.4166 16.8755 13.123 16.8755C10.8298 16.8752 8.9707 15.0155 8.9707 12.7222C8.97094 10.429 10.8299 8.57008 13.123 8.56982ZM13.123 10.4858C11.8884 10.4861 10.887 11.4876 10.8867 12.7222C10.8867 13.957 11.8883 14.9582 13.123 14.9585C14.358 14.9585 15.3594 13.9571 15.3594 12.7222C15.3591 11.4874 14.3579 10.4858 13.123 10.4858ZM17.915 6.97314C18.4443 6.97314 18.873 7.40286 18.873 7.93213C18.8729 8.46129 18.4442 8.89014 17.915 8.89014C17.3859 8.89005 16.9572 8.46124 16.957 7.93213C16.957 7.40291 17.3858 6.97323 17.915 6.97314Z" fill="white"/>
        </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
 
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg class="icon icon-twitter" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
            <path d="M10.5358 15.3333L6.44518 9.37991L1.32366 15.3333H0L5.85744 8.52486L0 0H4.46758L8.34115 5.63749L13.1909 0H14.5145L8.92906 6.49272L15.0034 15.3333H10.5358Z" fill="white"/>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}

   {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          <svg class="icon icon-youtube" xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
            <path d="M10.6481 0C11.5586 0 12.4924 0.023426 13.3975 0.0617594L14.4666 0.11287L15.4899 0.173565L16.4482 0.238518L17.3235 0.306667C18.2735 0.378958 19.1675 0.784166 19.8481 1.45092C20.5287 2.11767 20.9522 3.0032 21.0439 3.95153L21.0865 4.40407L21.1664 5.37305C21.2409 6.37718 21.2963 7.47181 21.2963 8.51852C21.2963 9.56523 21.2409 10.6599 21.1664 11.664L21.0865 12.633L21.0439 13.0855C20.9521 14.034 20.5285 14.9197 19.8477 15.5864C19.1669 16.2532 18.2726 16.6583 17.3224 16.7304L16.4493 16.7975L15.4909 16.8635L14.4666 16.9242L13.3975 16.9753C12.4816 17.015 11.5649 17.0355 10.6481 17.037C9.73137 17.0355 8.81472 17.015 7.8988 16.9753L6.82972 16.9242L5.80644 16.8635L4.8481 16.7975L3.97282 16.7304C3.02281 16.6581 2.12878 16.2529 1.44819 15.5861C0.767613 14.9194 0.344138 14.0338 0.252361 13.0855L0.209769 12.633L0.129907 11.664C0.0488034 10.6174 0.00547277 9.56823 0 8.51852C0 7.47181 0.0553703 6.37718 0.129907 5.37305L0.209769 4.40407L0.252361 3.95153C0.344103 3.00337 0.767424 2.11797 1.44779 1.45124C2.12815 0.784512 3.02194 0.379198 3.97176 0.306667L4.84597 0.238518L5.80431 0.173565L6.82866 0.11287L7.89773 0.0617594C8.81401 0.0220706 9.73101 0.00147965 10.6481 0ZM10.6481 2.12963C9.76968 2.12963 8.86565 2.15306 7.98611 2.18926L6.94472 2.23931L5.94486 2.29787L5.00569 2.36176L4.14532 2.42884C3.69298 2.46051 3.26652 2.65152 2.94172 2.96794C2.61692 3.28436 2.41482 3.70568 2.37134 4.15704C2.24676 5.4444 2.12963 7.04694 2.12963 8.51852C2.12963 9.99009 2.24676 11.5926 2.37134 12.88C2.46185 13.8085 3.1987 14.5305 4.14532 14.6082L5.00569 14.6742L5.94486 14.7381L6.94472 14.7977L7.98611 14.8478C8.86565 14.884 9.76968 14.9074 10.6481 14.9074C11.5266 14.9074 12.4306 14.884 13.3102 14.8478L14.3516 14.7977L15.3514 14.7392L16.2906 14.6753L17.151 14.6082C17.6033 14.5765 18.0298 14.3855 18.3546 14.0691C18.6794 13.7527 18.8815 13.3314 18.925 12.88C19.0495 11.5926 19.1667 9.99009 19.1667 8.51852C19.1667 7.04694 19.0495 5.4444 18.925 4.15704C18.8815 3.70568 18.6794 3.28436 18.3546 2.96794C18.0298 2.65152 17.6033 2.46051 17.151 2.42884L16.2906 2.36282L15.3514 2.29894L14.3516 2.23931L13.3102 2.18926C12.4233 2.1512 11.5358 2.13131 10.6481 2.12963ZM8.51852 5.93634C8.51845 5.83227 8.54381 5.72976 8.59238 5.63772C8.64096 5.54568 8.71128 5.4669 8.79724 5.40823C8.8832 5.34956 8.98218 5.31278 9.0856 5.30108C9.18901 5.28938 9.29371 5.30312 9.3906 5.34111L9.47685 5.3837L13.9491 7.96481C14.0381 8.0162 14.1135 8.08832 14.1687 8.17505C14.2239 8.26178 14.2574 8.36055 14.2663 8.46299C14.2752 8.56542 14.2592 8.66848 14.2197 8.76343C14.1803 8.85837 14.1185 8.94238 14.0396 9.00833L13.9491 9.07222L9.47685 11.6544C9.38673 11.7066 9.28521 11.736 9.18115 11.7399C9.07708 11.7439 8.97362 11.7224 8.87976 11.6773C8.78591 11.6321 8.70452 11.5647 8.64267 11.4809C8.58082 11.3972 8.54039 11.2995 8.52491 11.1965L8.51852 11.1007V5.93634Z" fill="white"/>
          </svg>
        </span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
