{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif

  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif

  if section.blocks.size > 0
    assign announcement_bar = true
  endif
-%}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}

<div class="utility-bar color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width utility-bar__grid{% if section.settings.layout_style == 'contact_announcement' %} utility-bar__grid--3-col{% endif %}">

    {%- if section.settings.layout_style == 'contact_announcement' -%}
      <div class="utility-bar__item utility-bar__item--left">
        {% if section.settings.phone != blank %}
          <a href="tel:{{ section.settings.phone | replace: ' ', '' }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M12.8792 5.5C13.7746 5.67468 14.5974 6.11257 15.2424 6.75761C15.8875 7.40265 16.3254 8.22549 16.5 9.12083M12.8792 1.83333C14.7394 2.03998 16.474 2.87299 17.7983 4.19559C19.1225 5.51819 19.9577 7.25176 20.1667 9.11167M16.9583 19.25C9.11129 19.25 2.75 12.8887 2.75 5.04167C2.75 4.68763 2.76295 4.33662 2.7884 3.98908C2.81761 3.59023 2.83221 3.39081 2.93673 3.20928C3.02329 3.05893 3.17671 2.91634 3.33298 2.84098C3.52166 2.75 3.74172 2.75 4.18185 2.75H6.76437C7.13449 2.75 7.31954 2.75 7.47819 2.81091C7.61832 2.86472 7.74309 2.95211 7.84155 3.06542C7.95301 3.1937 8.01625 3.36761 8.14274 3.71544L9.21168 6.65504C9.35884 7.05973 9.43242 7.26208 9.41993 7.45406C9.40892 7.62334 9.35114 7.78624 9.25304 7.92464C9.14179 8.08159 8.95716 8.19237 8.58791 8.41392L7.33333 9.16667C8.43507 11.5948 10.4043 13.5666 12.8333 14.6667L13.5861 13.4121C13.8076 13.0428 13.9184 12.8582 14.0754 12.747C14.2138 12.6489 14.3767 12.5911 14.5459 12.5801C14.7379 12.5676 14.9403 12.6412 15.345 12.7883L18.2846 13.8573C18.6324 13.9837 18.8063 14.047 18.9346 14.1584C19.0479 14.2569 19.1353 14.3817 19.1891 14.5218C19.25 14.6805 19.25 14.8655 19.25 15.2356V17.8182C19.25 18.2583 19.25 18.4783 19.159 18.667C19.0837 18.8233 18.9411 18.9767 18.7907 19.0633C18.6092 19.1678 18.4098 19.1824 18.0109 19.2116C17.6634 19.2371 17.3124 19.25 16.9583 19.25Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ section.settings.phone }}
          </a>
        {% endif %}
      </div>
    {%- endif -%}

    <div class="utility-bar__item utility-bar__item--center">
      {%- if section.blocks.size == 1 -%}
        <div
          class="announcement-bar"
          role="region"
          aria-label="{{ 'sections.header.announcement' | t }}"
          {{ section.blocks.first.shopify_attributes }}
        >
          {%- if section.blocks.first.settings.text != blank -%}
            {%- if section.blocks.first.settings.link != blank -%}
              <a href="{{ section.blocks.first.settings.link }}" class="announcement-bar__link link link--text">
            {%- endif -%}
            <p class="announcement-bar__message h5">
              <span>{{ section.blocks.first.settings.text | escape }}</span>
              {%- if section.blocks.first.settings.link != blank -%}
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="14" viewBox="0 0 25 14" fill="none">
                  <path d="M19.5312 7.77778H5.46875C5.03125 7.77778 4.6875 7.43555 4.6875 7C4.6875 6.56444 5.03125 6.22222 5.46875 6.22222H19.5312C19.9688 6.22222 20.3125 6.56444 20.3125 7C20.3125 7.43555 19.9688 7.77778 19.5312 7.77778Z" fill="white"/>
                  <path d="M15.625 13.2222C15.5225 13.2235 15.4209 13.2033 15.3268 13.1632C15.2326 13.123 15.1479 13.0636 15.0781 12.9889C14.7656 12.6778 14.7656 12.1956 15.0781 11.8844L20 6.98444L15.0781 2.08444C14.7656 1.77333 14.7656 1.29111 15.0781 0.98C15.3906 0.668889 15.875 0.668889 16.1875 0.98L21.6562 6.42444C21.9688 6.73556 21.9688 7.21778 21.6562 7.52889L16.1875 12.9733C16.0312 13.1289 15.8281 13.2067 15.6406 13.2067L15.625 13.2222Z" fill="white"/>
                </svg>
              {%- endif -%}
            </p>
            {%- if section.blocks.first.settings.link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        </div>

      {%- elsif section.blocks.size > 1 -%}
        <slideshow-component
          class="announcement-bar"
          role="region"
          aria-roledescription="{{ 'sections.announcements.carousel' | t }}"
        >
          <div class="announcement-bar-slider slider-buttons">
            <button type="button" class="slider-button slider-button--prev" name="previous">
              <span class="svg-wrapper">
                {{ 'icon-caret.svg' | inline_asset_content }}
              </span>
            </button>

            <div
              class="grid grid--1-col slider slider--everywhere"
              id="Slider-{{ section.id }}"
              data-autoplay="{{ section.settings.auto_rotate }}"
              data-speed="{{ section.settings.change_slides_speed }}"
            >
              {%- for block in section.blocks -%}
                <div class="slideshow__slide slider__slide grid__item">
                  <div class="announcement-bar__announcement">
                    {%- if block.settings.text != blank -%}
                      {%- if block.settings.link != blank -%}
                        <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text">
                      {%- endif -%}
                      <p class="announcement-bar__message h5">
                        <span>{{ block.settings.text | escape }}</span>
                        {%- if block.settings.link != blank -%}
                          {{ 'icon-arrow.svg' | inline_asset_content }}
                        {%- endif -%}
                      </p>
                      {%- if block.settings.link != blank -%}
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              {%- endfor -%}
            </div>

            <button type="button" class="slider-button slider-button--next" name="next">
              <span class="svg-wrapper">
                {{ 'icon-caret.svg' | inline_asset_content }}
              </span>
            </button>
          </div>
        </slideshow-component>
      {%- endif -%}
    </div>

    {%- if section.settings.layout_style == 'contact_announcement' -%}
      <div class="utility-bar__item utility-bar__item--right">
        {% if section.settings.email != blank %}
          <a href="mailto:{{ section.settings.email }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M2.75 7.33333L7.74576 10.6638C8.92187 11.4479 9.50992 11.8399 10.1455 11.9923C10.7072 12.1269 11.2928 12.1269 11.8545 11.9923C12.4901 11.8399 13.0781 11.4479 14.2542 10.6638L19.25 7.33333M5.68333 17.4167H16.3167C17.3434 17.4167 17.8568 17.4167 18.249 17.2168C18.5939 17.0411 18.8744 16.7606 19.0502 16.4156C19.25 16.0235 19.25 15.5101 19.25 14.4833V7.51667C19.25 6.4899 19.25 5.97652 19.0502 5.58435C18.8744 5.23939 18.5939 4.95892 18.249 4.78316C17.8568 4.58333 17.3434 4.58333 16.3167 4.58333H5.68333C4.65657 4.58333 4.14319 4.58333 3.75102 4.78316C3.40605 4.95892 3.12559 5.23939 2.94982 5.58435C2.75 5.97652 2.75 6.4899 2.75 7.51667V14.4833C2.75 15.5101 2.75 16.0235 2.94982 16.4156C3.12559 16.7606 3.40605 17.0411 3.75102 17.2168C4.14319 17.4167 4.65657 17.4167 5.68333 17.4167Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ section.settings.email }}
          </a>
        {% endif %}
      </div>
    {%- endif -%}

  </div>
</div>

<style>
  .utility-bar__grid--3-col {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  .utility-bar__item--left {
    text-align: left;
  }
  .utility-bar__item--center {
    text-align: center;
  }
  .utility-bar__item--right {
    text-align: right;
  }

  .utility-bar__grid .utility-bar__item a {display: flex;align-items: center;gap: 5px;color: #FFF;text-align: center;font-family: "Helvetica Neue";font-size: 14px;font-style: normal;font-weight: 400;line-height: normal;text-decoration: none;}

.utility-bar__item--right a {
    justify-content: end;
}

 .utility-bar__grid  .announcement-bar__message {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}


@media (max-width:991px) {
  .utility-bar__grid .announcement-bar__message {
    display: none;
}

.utility-bar__grid {
    padding-top: 8px;
    padding-bottom: 8px;
}

.utility-bar__grid.page-width {
    padding-left: 15px;
    padding-right: 15px;
}

.utility-bar__grid .utility-bar__item a {
    font-weight: 300;
}
}
@media (max-width:749px) {
  .utility-bar__grid .utility-bar__item a{
    font-size:12px;
  }
}
</style>

{% schema %}
{
  "name": "Announcement bar",
  "max_blocks": 12,
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout_style",
      "label": "Layout style",
      "default": "announcement_only",
      "options": [
        {
          "value": "announcement_only",
          "label": "Announcement only"
        },
        {
          "value": "contact_announcement",
          "label": "Phone + Announcement + Email"
        }
      ]
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone number",
      "default": "+1 (651) 797-6000"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email address",
      "default": "customercare@xlfeet.com"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto rotate announcements",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Slide change speed",
      "default": 5
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-4"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Enjoy free shipping on all orders"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
