{% comment %}
  Contact Assistance Banner Section
{% endcomment %}

<section class="contact-assistance section-{{ section.id }}">
  <div class="contact-assistance-bg">

 
  <div class="page-width">
    <div class="contact-assistance__wrapper">

      <!-- LEFT CONTENT -->
      <div class="contact-assistance__left">
        <h2>{{ section.settings.heading }}</h2>

        <p>{{ section.settings.description }}</p>

        
      </div>

      {% if section.settings.phone != blank %}
          <a href="tel:{{ section.settings.phone | remove: ' ' }}" class="contact-phone">
            <span class="phone-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.26839 2.97627C5.35767 4.30068 5.58089 5.59532 5.93803 6.83044L4.15232 8.61615C3.5422 6.83044 3.15529 4.94056 3.02136 2.97627H5.26839ZM19.94 20.863C21.2049 21.2202 22.4995 21.4434 23.8091 21.5327V23.7499C21.8448 23.616 19.9549 23.2291 18.1543 22.6339L19.94 20.863ZM6.69643 0H1.4881C0.669643 0 0 0.669643 0 1.4881C0 15.4613 11.3244 26.7857 25.2976 26.7857C26.1161 26.7857 26.7857 26.1161 26.7857 25.2976V20.1042C26.7857 19.2857 26.1161 18.6161 25.2976 18.6161C23.4524 18.6161 21.6518 18.3185 19.9851 17.7679C19.8363 17.7083 19.6726 17.6935 19.5238 17.6935C19.1369 17.6935 18.7649 17.8423 18.4673 18.125L15.1935 21.3988C10.9821 19.2411 7.52976 15.8036 5.3869 11.5923L8.66072 8.31845C9.07738 7.90179 9.19643 7.32143 9.03274 6.8006C8.48214 5.13393 8.18452 3.34821 8.18452 1.4881C8.18452 0.669643 7.51488 0 6.69643 0Z" fill="white"/>
              </svg>
            </span>
            {{ section.settings.phone }}
          </a>
        {% endif %}

      <!-- RIGHT CONTENT -->
      <div class="contact-assistance__right">
        <h3>{{ section.settings.hours_heading }}</h3>
        <div class="business-hours">
          {{ section.settings.business_hours }}
        </div>
      </div>

    </div>
  </div>
   </div>
</section>

<style>
.section-{{ section.id }} {
  padding: 10px 0;
  background: #191B1D;
}

.contact-assistance-bg {
   background: linear-gradient(110deg, #191B1D 50%, #F4F4F4 50%);
}

.contact-assistance__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  overflow: hidden;
      position: relative;
      align-items: center;
      padding: 34px 0;
}

.contact-assistance__left {
  color: #fff;
  max-width: 412px;
}

.contact-assistance__left h2 {
     margin-bottom: 20px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-top: 0;
}

.contact-assistance__left p {
      margin: 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;  
}

.contact-phone {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    background: #FAFAFA;
    color: #000;
    padding: 16px 28px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    font-size: 22px;
    position: absolute;
    line-height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #191B1D;
    letter-spacing: 0;
}

.phone-icon {
      font-size: 18px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 1530.612px;
    border: 1px solid #000;
    background: #000;
    align-items: center;
    justify-content: center;
}

.phone-icon svg {
  transition: all .4s ease;
}

.contact-phone:hover svg {
    scale: 1.1;
}

.contact-assistance__right {
      max-width: 233px;
    margin: 0 auto;
}

.contact-assistance__right h3 {
    margin: 0 0 10px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}



.business-hours p {
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    margin: 0 0 40px;
}

.business-hours p:last-child { margin: 0; }


/* MOBILE */
@media (max-width: 1200px) {
  .contact-phone {
    padding: 14px;
    font-size: 14px;
}

.phone-icon {
    width: 30px;
    height: 30px;
}

.phone-icon svg {
    width: 16px;
    height: 16px;
}

.contact-assistance__left {
    max-width: 78%;
}
 }


 @media (max-width: 991px) {

 .contact-assistance__wrapper {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

    .contact-phone {
        padding: 10px;
        font-size: 14px;
        position: unset;
        transform: unset;
    }

    .contact-assistance-bg {
    background: linear-gradient(188deg, #191B1D 50%, #F4F4F4 50%);
}

section.contact-assistance {
    padding: 0 10px;
}

.contact-assistance__left {
    max-width: 100%;
}

.contact-assistance__right {
    max-width: 100%;
    margin: 0;
    width: 100%;
}

.contact-assistance__left h2 {
      margin-bottom: 12px;
      font-size: 22px;
}

 }
</style>

{% schema %}
{
  "name": "Contact Assistance Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Assistance With Sizing? Call Us"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "We specialize in helping men with XL, Extra Wide, or Narrow feet find the perfect fit over the phone. If you're unsure about your size, please call us—customers who call have far fewer returns."
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone Number",
      "default": "(651)-797-6000"
    },
    {
      "type": "text",
      "id": "hours_heading",
      "label": "Business Hours Heading",
      "default": "Our business hours are:"
    },
    {
      "type": "richtext",
      "id": "business_hours",
      "label": "Business Hours",
      "default": "<p><strong>Monday through Friday:</strong><br>11am – 6pm Central Time USA</p><p><strong>Saturdays:</strong><br>12pm – 5pm Central Time USA</p>"
    }
  ],
  "presets": [
    {
      "name": "Contact Assistance Banner"
    }
  ]
}
{% endschema %}
