{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'section-contact-us.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .contact-info h4 , .contact-info p strong {
    color:{{ section.settings.conatct_info_heading_clr }};
}
.contact-info li.list-social__item {
    border: 1px solid {{ section.settings.conatct_info_heading_clr }};
    border-radius: 50px;
}

.conatct_right_side_content{
    background :{{  section.settings.conatct_from_bg_clr }};
}
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient page-width">
    <div class="custom_contact_us_grid contact  section-{{ section.id }}-padding">
        <div class="conatct_left_side_content">
            {%- if section.settings.heading != blank -%}
                <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ section.settings.heading }}
                </h2>
            {%- else -%}
                <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
            {%- endif -%}
            <div class="left_info_grid"> 
                <div class="conatct_info_left">
                    {% if section.settings.address_content != blank %}
                        <div class="contact-info">
                        {% if section.settings.address_title != blank %}
                            <h4>{{ section.settings.address_title }}</h4>
                        {% endif %}
                        {{ section.settings.address_content }}
                        </div>
                    {% endif %}
                    {% if section.settings.phone != blank %}
                        <div class="contact-info">
                        {% if section.settings.phone_title != blank %}
                            <h4>{{ section.settings.phone_title }}</h4>
                        {% endif %}
                        <a href="tel:{{ section.settings.phone }}">
                            {{ section.settings.phone }}
                        </a>
                        </div>
                    {% endif %}

                    {% if section.settings.show_social %}
                        <div class="contact-info">
                        {% render 'social-icons' %}
                        </div>
                    {% endif %}
                </div>
                <div class="contact_info_right">
                    {% if section.settings.working_hours_content != blank %}
                        <div class="contact-info">
                        {% if section.settings.working_hours_title != blank %}
                            <h4>{{ section.settings.working_hours_title }}</h4>
                        {% endif %}
                        {{ section.settings.working_hours_content }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="conatct_right_side_content">
            <div class="">
                {%- liquid
                assign contact_form_class = 'isolate'
                if settings.animations_reveal_on_scroll
                    assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
                endif
                -%}
                {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
                {%- if form.posted_successfully? -%}
                    <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                    {{- 'icon-success.svg' | inline_asset_content -}}
                    {{ 'templates.contact.form.post_success' | t }}
                    </h2>
                {%- elsif form.errors -%}
                    <div class="form__message">
                    <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                        {{- 'icon-error.svg' | inline_asset_content -}}
                        {{ 'templates.contact.form.error_heading' | t }}
                    </h2>
                    </div>
                    <ul class="form-status-list caption-large" role="list">
                    <li>
                        <a href="#ContactForm-email" class="link">
                        {{ form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email }}
                        </a>
                    </li>
                    </ul>
                {%- endif -%}
                <div class="contact__fields">
                    <span class="field_heading">{{ 'templates.contact.form.name' | t }}</span>
                    <div class="field">
                    <input
                        class="field__input"
                        autocomplete="name"
                        type="text"
                        id="ContactForm-name"
                        name="contact[{{ 'templates.contact.form.name' | t }}]"
                        value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                        placeholder="{{ section.settings.name_placeholder  }}"
                    >
                    <label class="field__label" for="ContactForm-name">{{ section.settings.name_placeholder  }}</label>
                    </div>
                     <span class="field_heading">{{ 'templates.contact.form.email' | t }}</span>
                    <div class="field field--with-error">
                    <input
                        autocomplete="email"
                        type="email"
                        id="ContactForm-email"
                        class="field__input"
                        name="contact[email]"
                        spellcheck="false"
                        autocapitalize="off"
                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                        {% endif %}
                        placeholder="{{ section.settings.email_placeholder  }}"
                    >
                    <label class="field__label" for="ContactForm-email">
                        {{ section.settings.email_placeholder }}
                        <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'email' -%}
                        <small class="contact__field-error" id="ContactForm-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">
                            <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                            </span>
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                        </span>
                        </small>
                    {%- endif -%}
                    </div>
                </div>
                <span  class="field_heading">{{ 'templates.contact.form.phone' | t }}</span>
                <div class="field">
                    <input
                    type="tel"
                    id="ContactForm-phone"
                    class="field__input"
                    autocomplete="tel"
                    name="contact[{{ 'templates.contact.form.phone' | t }}]"
                    pattern="[0-9\-]*"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    placeholder="{{ section.settings.phone_placeholder  }}"
                    >
                    <label class="field__label" for="ContactForm-phone">{{ section.settings.phone_placeholder  }}</label>
                </div>
                <span class="field_heading">{{ 'templates.contact.form.comment' | t }}</span>
                <div class="field">
                    <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ section.settings.description_placeholder  }}"
                    >
                    {{- form.body -}}
                    </textarea>
                    <label class="form__label field__label" for="ContactForm-body">
                    {{ section.settings.description_placeholder  }}
                    </label>
                </div>
                <div class="contact__button">
                    <button type="submit" class="button">
                    {{ 'templates.contact.form.send' | t }}
                    </button>
                </div>
                {%- endform -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Conatct Us",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Main Heading",
      "default": "Contact Us"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h1", "label": "H1" },
        { "value": "h0", "label": "H0" },
        { "value": "hxl", "label": "HXL" },
        { "value": "hxxl", "label": "HXXL" }
      ],
      "default": "h1"
    },
    {
      "type": "text",
      "id": "address_title",
      "label": "Address title",
      "default": "Address"
    },
    {
      "type": "richtext",
      "id": "address_content",
      "label": "Address content"
    },

    {
      "type": "text",
      "id": "working_hours_title",
      "label": "Working hours title",
      "default": "Working Hours"
    },
    {
      "type": "richtext",
      "id": "working_hours_content",
      "label": "Working hours content"
    },

    {
      "type": "text",
      "id": "phone_title",
      "label": "Phone title",
      "default": "Telephone"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone number"
    },

    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "color",
      "id":"conatct_info_heading_clr",
      "label": "Conatct Info Heading Color"
    },
    {
        "type":"color",
        "id": "conatct_from_bg_clr",
        "label": "Contact From Background Color",
        "default":"#F4F4F4"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type":"header",
      "content":"Field Placeholder"
    },
    {
      "type":"text",
      "id":"name_placeholder",
      "label":"Name Placeholder",
      "default":"First name"
    },
    {
      "type":"text",
      "id":"email_placeholder",
      "label":"Email Placeholder",
      "default":"Type in your email address"
    },
    {
      "type":"text",
      "id":"phone_placeholder",
      "label":"Phone Number Placeholder",
      "default":"Please enter your phone number"
    },
    {
      "type":"text",
      "id":"description_placeholder",
      "label":"Comment Placeholder",
      "default":"Describe your reason to reach out"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Conatct Us"
    }
  ]
}
{% endschema %}

