<section class="faq-section">
<div class="page-width">
  <div class="faq-header">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.subheading }}</p>
  </div>
  <div class="faq-grid">
    {% for block in section.blocks %}
     <div class="faq-item" {{ block.shopify_attributes }}>
        <h2 class="faq-heading">{{ block.settings.title }}

        <div class="icon-dwn">
           <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
            <path d="M18 7.5V28.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 18H28.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none">
<path d="M7.5 18.5H28.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
        </div>
        </h2>
      <div class="faq-text">
        {{ block.settings.content }}
      </div>
     
    </div>

    {% endfor %}
  </div>
  </div>
</section>

<script>
 $(document).ready(function () {
  const $accordionItems = $(".faq-heading");

  // Open the first item by default
  $accordionItems.first().addClass("active").next().slideDown();

  $accordionItems.on("click", function () {
    const $this = $(this);

    // If this is already active, do nothing
    if ($this.hasClass("active")) return;

    // Close any currently active item
    $accordionItems.filter(".active").removeClass("active").next().slideUp();

    // Open the clicked one
    $this.addClass("active").next().slideDown();
  });
});


</script>


<style>


section.faq-section {
    display: inline-block;
    width: 100%;
    vertical-align: top;
        padding: 60px 0;
    background-color: #fff;
}

section.faq-section .faq-header {
    margin-bottom: 40px;
    text-align: center;
}

section.faq-section .faq-header h2 {
    color: #000;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

section.faq-section .faq-grid {
    max-width: 900px;
    margin: 0 auto;
}

section.faq-section .faq-grid .faq-item {
    display: flex;
    flex-direction: column;
        padding: 15px 0;
}

section.faq-section .faq-grid .faq-item:not(:last-child) {
    border-bottom: 1px solid #929f8c45;
}

section.faq-section .faq-grid .faq-item .faq-heading {
    font-size: 24px;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    color: #121212;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.4; /* 160% */
text-transform: capitalize;
    margin: 0;
}


section.faq-section .faq-grid .faq-item .faq-heading {
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
section.faq-section .faq-grid .faq-item .faq-heading .icon-dwn {
    min-width: 30px;
    height: 18px;
    transition: all 0.4s ease-out;
    display: flex;
    align-items: center;
        width: 30px;
}

section.faq-section .faq-grid .faq-item .faq-heading.active .icon-dwn {
   transform: scaleY(-1);
}

section.faq-section .faq-grid .faq-item .faq-heading .icon-dwn svg.minus  {
    display: none;
}

section.faq-section .faq-grid .faq-item .faq-heading.active .icon-dwn svg  {
    display: none;
}

section.faq-section .faq-grid .faq-item .faq-heading.active .icon-dwn svg.minus  {
    display: block;
}

section.faq-section .faq-grid .faq-text {
    display: none;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding-top: 20px;
}


section.faq-section .faq-grid .faq-text p {
    margin-top: 0;
    font-weight: 400;
        color: #646464;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}



/* RSPNV */



@media screen and (max-width: 767px) {
   section.faq-section {
    padding: 40px 0;
}

section.faq-section .faq-header h2 {
    font-size: 24px;
}

section.faq-section .faq-header {
    margin-bottom: 20px;
}

section.faq-section .faq-grid .faq-item .faq-heading {
    font-size: 16px;
    line-height: 24px;
}

section.faq-section .faq-grid .faq-text p {
    font-size: 14px;
}

section.faq-section .faq-grid .faq-item .faq-heading .icon-dwn {
    min-width: 21px;
    height: 21px;
}

section.faq-section .faq-grid .faq-item .faq-heading .icon-dwn svg {
    min-width: 21px;
    height: 21px;
}
}
</style>



{% schema %}
{
  "name": "Faq Section",
  "tag": "section",
  "class": "faq",
  "max_blocks": 30,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
       {
        "type": "richtext",
        "id": "content",
        "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq Section"     
    }
  ]
}
{% endschema %}