{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  .footer-block__contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-block__contact-info svg {
    width: 24px;
    height: 24px;
}
  
  .footer-block__contact-item {
    display: flex;
    align-items: centers;
    gap: 10px;
  }
  
  .footer-block__contact-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 0.25rem;
  }

  .footer-block__contact-info a {
    text-decoration: none;
  }
  
  .footer-block__badge {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper {% if section.settings.enable_custom_grid %} footer__blocks__cm--grid {% else %} grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }} {% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 id="footer-heading-{{ block.id }}" class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                    
                  {%- when 'contact_info' -%}
                    <div class="footer-block__contact-info">
                      {%- if block.settings.show_address and block.settings.address != blank -%}
                        <div class="footer-block__contact-item">
                          {%- if block.settings.address_icon != blank -%}
                            <img src="{{ block.settings.address_icon | image_url: width: 40 }}" alt="Location" class="footer-block__contact-icon" loading="lazy">
                          {%- else -%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C15.87 2 19 5.13 19 9C19 14.25 12 22 12 22C12 22 5 14.25 5 9C5 5.13 8.13 2 12 2ZM7 9C7 11.85 9.92 16.21 12 18.88C14.12 16.19 17 11.88 17 9C17 6.24 14.76 4 12 4C9.24 4 7 6.24 7 9ZM12 11.5C10.6193 11.5 9.5 10.3807 9.5 9C9.5 7.61929 10.6193 6.5 12 6.5C13.3807 6.5 14.5 7.61929 14.5 9C14.5 10.3807 13.3807 11.5 12 11.5Z" fill="#A6A6A6"/>
                            </svg>
                          {%- endif -%}
                          <div>
                            <div>{{ block.settings.address }}</div>
                            {%- if block.settings.address_line2 != blank -%}
                              <div>{{ block.settings.address_line2 }}</div>
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endif -%}
                      
                      {%- if block.settings.show_email and block.settings.email != blank -%}
                        <div class="footer-block__contact-item">
                          {%- if block.settings.email_icon != blank -%}
                            <img src="{{ block.settings.email_icon | image_url: width: 40 }}" alt="Email" class="footer-block__contact-icon" loading="lazy">
                          {%- else -%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z" fill="#A6A6A6"/>
                            </svg>
                          {%- endif -%}
                          <a href="mailto:{{ block.settings.email }}" class="link">{{ block.settings.email }}</a>
                        </div>
                      {%- endif -%}
                      
                      {%- if block.settings.show_phone and block.settings.phone != blank -%}
                        <div class="footer-block__contact-item">
                          {%- if block.settings.phone_icon != blank -%}
                            <img src="{{ block.settings.phone_icon | image_url: width: 40 }}" alt="Phone" class="footer-block__contact-icon" loading="lazy">
                          {%- else -%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.54027 5C6.60027 5.89 6.75027 6.76 6.99027 7.59L5.79027 8.79C5.38027 7.59 5.12027 6.32 5.03027 5H6.54027ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.33 14.9 16.22 14.89 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.38 15.93 8.06 13.62 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.7 6.45 8.5 5.25 8.5 4C8.5 3.45 8.05 3 7.5 3Z" fill="#A6A6A6"/>
                            </svg>
                          {%- endif -%}
                          <a href="tel:{{ block.settings.phone | replace: ' ', '' | replace: '-', '' }}" class="link">{{ block.settings.phone }}</a>
                        </div>
                      {%- endif -%}
                      
                      {%- if block.settings.show_hours and block.settings.hours != blank -%}
                        <div class="footer-block__contact-item">
                          {%- if block.settings.hours_icon != blank -%}
                            <img src="{{ block.settings.hours_icon | image_url: width: 40 }}" alt="Hours" class="footer-block__contact-icon" loading="lazy">
                          {%- else -%}
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M10.155 14.7728L10.146 14.7518C10.0108 14.7148 9.87674 14.6738 9.744 14.6288L9.734 14.6248C8.35256 14.1522 7.15348 13.2594 6.30462 12.0714C5.45576 10.8835 4.9996 9.45985 5 7.9998C4.99955 6.2079 5.6863 4.48407 6.91879 3.18336C8.15128 1.88265 9.83565 1.10411 11.625 1.00811C13.4143 0.912106 15.1723 1.50595 16.5369 2.66732C17.9015 3.82869 18.7687 5.46914 18.96 7.2508C19.004 7.6628 18.664 7.9998 18.25 7.9998C17.836 7.9998 17.505 7.6618 17.45 7.2518C17.317 6.28406 16.9287 5.36921 16.325 4.60124C15.7213 3.83328 14.9241 3.23991 14.0151 2.88212C13.1062 2.52433 12.1183 2.41503 11.1532 2.56545C10.188 2.71586 9.28027 3.12057 8.5233 3.73798C7.76634 4.35539 7.18742 5.16323 6.84606 6.07847C6.5047 6.99371 6.41321 7.98334 6.58098 8.94565C6.74875 9.90797 7.16975 10.8083 7.80069 11.554C8.43163 12.2997 9.24976 12.864 10.171 13.1888C10.3566 12.7693 10.6807 12.4264 11.0891 12.2175C11.4974 12.0085 11.9652 11.9463 12.4139 12.0413C12.8627 12.1362 13.2652 12.3825 13.5539 12.7389C13.8427 13.0953 14.0002 13.5401 14 13.9988C14 14.5968 13.738 15.1328 13.323 15.4988C12.9578 15.8214 12.4873 15.9995 12 15.9998C11.6055 16.0012 11.2194 15.8853 10.8909 15.6668C10.5624 15.4484 10.3063 15.1372 10.155 14.7728Z" fill="#A6A6A6"/>
                              <path d="M7.99691 15.4999C7.25987 15.1061 6.58494 14.6057 5.99391 14.0149C5.44605 14.0787 4.94068 14.3414 4.57381 14.7533C4.20694 15.1651 4.00413 15.6974 4.00391 16.2489V16.8269C4.00391 17.7189 4.32191 18.5829 4.90191 19.2619C6.46791 21.0959 8.85391 22.0019 11.9999 22.0019C15.1459 22.0019 17.5329 21.0959 19.1019 19.2619C19.6833 18.5826 20.0028 17.718 20.0029 16.8239V16.2489C20.0029 15.6525 19.7661 15.0805 19.3446 14.6586C18.9231 14.2367 18.3513 13.9994 17.7549 13.9989H15.4999C15.4999 14.5369 15.3799 15.0449 15.1629 15.4989H17.7549C17.9535 15.4994 18.1437 15.5787 18.2839 15.7193C18.4242 15.8599 18.5029 16.0504 18.5029 16.2489V16.8239C18.5031 17.3604 18.3116 17.8792 17.9629 18.2869C16.7059 19.7549 14.7389 20.5009 11.9999 20.5009C9.26091 20.5009 7.29591 19.7549 6.04291 18.2879C5.69448 17.8805 5.50298 17.362 5.50291 16.8259V16.2489C5.50291 16.05 5.58192 15.8592 5.72258 15.7186C5.86323 15.5779 6.05399 15.4989 6.25291 15.4989L7.99691 15.4999ZM7.99991 7.99992C8.00009 7.30997 8.17873 6.6318 8.51848 6.03129C8.85822 5.43079 9.34752 4.92838 9.93882 4.57287C10.5301 4.21736 11.2033 4.02084 11.893 4.0024C12.5827 3.98397 13.2655 4.14425 13.8749 4.46767C14.4844 4.79109 14.9998 5.26665 15.3712 5.84815C15.7425 6.42965 15.9571 7.09731 15.9941 7.78627C16.0312 8.47522 15.8894 9.16204 15.5825 9.78C15.2757 10.398 14.8142 10.926 14.2429 11.3129C13.6135 10.7876 12.8197 10.4999 11.9999 10.4999C12.6629 10.4999 13.2988 10.2365 13.7677 9.76768C14.2365 9.29884 14.4999 8.66296 14.4999 7.99992C14.4999 7.33688 14.2365 6.70099 13.7677 6.23215C13.2988 5.76331 12.6629 5.49992 11.9999 5.49992C11.3369 5.49992 10.701 5.76331 10.2321 6.23215C9.7633 6.70099 9.49991 7.33688 9.49991 7.99992C9.49991 8.66296 9.7633 9.29884 10.2321 9.76768C10.701 10.2365 11.3369 10.4999 11.9999 10.4999C11.1459 10.4999 10.3639 10.8059 9.75791 11.3129C9.2158 10.9471 8.77193 10.4536 8.46538 9.87585C8.15882 9.29814 7.99897 8.65393 7.99991 7.99992Z" fill="#A6A6A6"/>
                            </svg>
                          {%- endif -%}
                          <div class="rte">{{ block.settings.hours }}</div>
                        </div>
                      {%- endif -%}
                    </div>
                    
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                    
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                    
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                    
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                    
                  {%- when 'social_newsletter' -%}
                    <div class="footer-block__social-newsletter">
                      {%- if block.settings.badge_text != blank -%}
                        <div class="footer-block__badge" style="background-color: {{ block.settings.badge_color }}; color: {{ block.settings.badge_text_color }};">
                          {{ block.settings.badge_text }}
                        </div>
                      {%- endif -%}
                      
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                      
                      {%- if block.settings.newsletter_heading != blank -%}
                        <h3 class="footer-block__heading">{{ block.settings.newsletter_heading }}</h3>
                      {%- endif -%}
                      
                      {%- if block.settings.newsletter_text != blank -%}
                        <p>{{ block.settings.newsletter_text }}</p>
                      {%- endif -%}
                      
                      {%- if block.settings.enable_newsletter -%}
                        {%- form 'customer', id: 'ContactFooterSocialNewsletter', class: 'footer__newsletter newsletter-form' -%}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="newsletter-form__field-wrapper">
                            <div class="field">
                              <input
                                id="NewsletterFormSocial--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="field__input"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="ContactFooterSocial-error"
                                {% elsif form.posted_successfully? %}
                                  aria-describedby="ContactFooterSocial-success"
                                {% endif %}
                                placeholder="{{ block.settings.newsletter_placeholder | default: 'Enter your email...' }}"
                                required
                              >
                              <button
                                type="submit"
                                class="newsletter-form__button field__button"
                                name="commit"
                                aria-label="{{ block.settings.newsletter_button_text | default: 'Subscribe' }}"
                              >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                                <path d="M15 0H1C0.734783 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1V11C0 11.2652 0.105357 11.5196 0.292893 11.7071C0.48043 11.8946 0.734783 12 1 12H15C15.2652 12 15.5196 11.8946 15.7071 11.7071C15.8946 11.5196 16 11.2652 16 11V1C16 0.734784 15.8946 0.48043 15.7071 0.292893C15.5196 0.105357 15.2652 0 15 0ZM14.23 11H1.83L5.33 7.38L4.61 6.685L1 10.42V1.76L7.215 7.945C7.40236 8.13125 7.65581 8.23579 7.92 8.23579C8.18419 8.23579 8.43764 8.13125 8.625 7.945L15 1.605V10.355L11.32 6.675L10.615 7.38L14.23 11ZM1.655 1H14.19L7.92 7.235L1.655 1Z" fill="#191B1D"/>
                              </svg>
                                {{ block.settings.newsletter_button_text | default: 'Subscribe' }}
                              </button>
                            </div>
                          </div>
                         {%- if form.errors -%}
                              <small class="newsletter-form__message form__message" id="ContactFooterSocial-error">
                                <span class="svg-wrapper">
                                  {{- 'icon-error.svg' | inline_asset_content -}}
                                </span>
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                              </small>
                            {%- endif -%}
                          </div>
                          {%- if form.posted_successfully? -%}
                            <h3
                              class="newsletter-form__message newsletter-form__message--success form__message"
                              id="ContactFooterSocial-success"
                              tabindex="-1"
                              autofocus
                            >
                              <span class="svg-wrapper">
                                {{- 'icon-success.svg' | inline_asset_content -}}
                              </span>
                              {{- block.settings.newsletter_success_message | default: 'newsletter.success' | t }}
                            </h3>
                          {%- endif -%}

                        {%- endform -%}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "contact_info",
      "name": "Contact Information",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Contact Us",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Address"
        },
        {
          "type": "checkbox",
          "id": "show_address",
          "default": true,
          "label": "Show address"
        },
        {
          "type": "text",
          "id": "address",
          "default": "123 Main Street",
          "label": "Address line 1"
        },
        {
          "type": "text",
          "id": "address_line2",
          "default": "City, State 12345",
          "label": "Address line 2"
        },
        {
          "type": "image_picker",
          "id": "address_icon",
          "label": "Custom address icon (optional)"
        },
        {
          "type": "header",
          "content": "Email"
        },
        {
          "type": "checkbox",
          "id": "show_email",
          "default": true,
          "label": "Show email"
        },
        {
          "type": "text",
          "id": "email",
          "default": "contact@example.com",
          "label": "Email address"
        },
        {
          "type": "image_picker",
          "id": "email_icon",
          "label": "Custom email icon (optional)"
        },
        {
          "type": "header",
          "content": "Phone"
        },
        {
          "type": "checkbox",
          "id": "show_phone",
          "default": true,
          "label": "Show phone"
        },
        {
          "type": "text",
          "id": "phone",
          "default": "+1 (555) 123-4567",
          "label": "Phone number"
        },
        {
          "type": "image_picker",
          "id": "phone_icon",
          "label": "Custom phone icon (optional)"
        },
        {
          "type": "header",
          "content": "Business Hours"
        },
        {
          "type": "checkbox",
          "id": "show_hours",
          "default": true,
          "label": "Show business hours"
        },
        {
          "type": "richtext",
          "id": "hours",
          "default": "<p>Mon-Fri: 9:00 AM - 5:00 PM<br/>Sat: 10:00 AM - 3:00 PM</p>",
          "label": "Business hours"
        },
        {
          "type": "image_picker",
          "id": "hours_icon",
          "label": "Custom hours icon (optional)"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "social_newsletter",
      "name": "Social & Newsletter",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Stay Connected",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Badge Settings"
        },
        {
          "type": "text",
          "id": "badge_text",
          "default": "719.5",
          "label": "Badge text",
          "info": "Display a notification badge or number"
        },
        {
          "type": "color",
          "id": "badge_color",
          "default": "#FF5733",
          "label": "Badge background color"
        },
        {
          "type": "color",
          "id": "badge_text_color",
          "default": "#FFFFFF",
          "label": "Badge text color"
        },
        {
          "type": "header",
          "content": "Social Media"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "Show social media icons",
          "info": "Configure social links in Theme Settings"
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "enable_newsletter",
          "default": true,
          "label": "Enable newsletter signup"
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "default": "SIGN UP FOR NEWSLETTERS",
          "label": "Newsletter heading"
        },
        {
          "type": "text",
          "id": "newsletter_text",
          "default": "Be the first to Know. Sign up for newsletter today",
          "label": "Newsletter description"
        },
        {
          "type": "text",
          "id": "newsletter_placeholder",
          "default": "Enter your email...",
          "label": "Newsletter input placeholder"
        },
        {
          "type": "text",
          "id": "newsletter_button_text",
          "default": "Subscribe",
          "label": "Newsletter button text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
        {
      "type": "checkbox",
      "id": "enable_custom_grid",
      "label": "Enable custom grid (4 columns)",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
