{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .privacy-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 63px;
  }

.privacy-column h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 37px;
}

  .privacy-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300;
  }

  .privacy-list li {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    line-height: 1.6;
  }

 .privacy-list li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.privacy-list li::before {
  content: "";
  width: 17px;
  height: 9px;
  flex-shrink: 0;
  margin-top: 6px; /* adjust alignment */

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 4.5H16.5M16.5 4.5L12.5 0.5M16.5 4.5L12.5 8.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

  .privacy-list  , 
  .privacy-column {
    color:{{ section.settings.content_color}};
  }
  @media screen and (max-width: 1024px) {
    .privacy-column h2{
      font-size: 30px;  
    }
    .privacy-grid{
      gap: 30px;
    }
  }
  @media screen and (max-width: 749px) {
    .privacy-grid {
      grid-template-columns: 1fr;
      gap: 32px;
    }
    .privacy-column h2{
      font-size: 28px;
    }
  }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="privacy-info page-width">
      <div class="privacy-grid">

        <!-- Left Column -->
        <div class="privacy-column">
          <h2>{{ section.settings.left_heading }}</h2>
          <div>{{ section.settings.left_side_content }} </div>
          <ul class="privacy-list">
            {% for block in section.blocks %}
              {% if block.type == 'left_item' %}
                <li {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <div>
            {{ block.settings.left_bottom_content }}
          </div>
        </div>

        <!-- Right Column -->
        <div class="privacy-column">
          <h2>{{ section.settings.right_heading }}</h2>
          <ul class="privacy-list">
            {% for block in section.blocks %}
              {% if block.type == 'right_item' %}
                <li {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Pages Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "left_heading",
      "label": "Left column heading",
      "default": "What we collect"
    },
    {
        "type": "text",
        "id":"left_side_content",
        "label":"Left Side Content"
    },
    {
        "type":"richtext",
        "id":"left_bottom_content",
        "label":"Left Side Bottom Content"
    },
    {
      "type": "text",
      "id": "right_heading",
      "label": "Right column heading",
      "default": "What we do with the information we gather"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type":"color",
      "id":"content_color",
      "label":"Content Color",
      "default":"#646464"
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Content width",
      "min": 800,
      "max": 1600,
      "step": 50,
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 4,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "left_item",
      "name": "Left column item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Name"
        }
      ]
    },
    {
      "type": "right_item",
      "name": "Right column item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Internal record keeping"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Pages Content"
    }
  ]
}
{% endschema %}
