{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .privacy-block {
    margin-bottom: 27px;
  }

  .privacy-block h2 {
    margin-bottom: 12px;
    font-size:37px;
  }

  .privacy-block p {
    margin-bottom: 14px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    color:{{ section.settings.content_color}};
  }

  .privacy-list {
    padding-left: 0;
    margin-top: 10px;
  }

  .privacy-list li {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1024px) {
    .privacy-block h2{
      font-size: 30px;
      margin: 0;
    }
    .privacy-block p{
      line-height: 22px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 749px) {
      .privacy-block h2 {
            font-size: 28px;
      }
  }
{% endstyle %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="privacy-content page-width">

      {% for block in section.blocks %}
        <div class="privacy-block" {{ block.shopify_attributes }}>
          <h2>{{ block.settings.heading }}</h2>

          {% if block.settings.content != blank %}
            {{ block.settings.content }}
          {% endif %}

          {% if block.settings.show_list %}
            <ul class="privacy-list">
              {% if block.settings.list_item_1 != blank %}
                <li>{{ block.settings.list_item_1 }}</li>
              {% endif %}
              {% if block.settings.list_item_2 != blank %}
                <li>{{ block.settings.list_item_2 }}</li>
              {% endif %}
              {% if block.settings.list_item_3 != blank %}
                <li>{{ block.settings.list_item_3 }}</li>
              {% endif %}
              {% if block.settings.list_item_4 != blank %}
                <li>{{ block.settings.list_item_4 }}</li>
              {% endif %}
            </ul>
          {% endif %}
          {% if block.settings.bottom_content != blank %}
            {{ block.settings.bottom_content }}
          {% endif %}
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Privacy policy content",
  "tag": "section",
  "class": "section",
  "settings": [
     {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type":"color",
      "id":"content_color",
      "label":"Content Color",
      "default":"#646464"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 4,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Content section",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Security"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>We are committed to ensuring that your information is secure.</p>"
        },
        {
          "type": "checkbox",
          "id": "show_list",
          "label": "Show bullet list",
          "default": false
        },
        {
          "type": "text",
          "id": "list_item_1",
          "label": "List item 1"
        },
        {
          "type": "text",
          "id": "list_item_2",
          "label": "List item 2"
        },
        {
          "type": "text",
          "id": "list_item_3",
          "label": "List item 3"
        },
        {
          "type": "text",
          "id": "list_item_4",
          "label": "List item 4"
        },
        {
            "type":"richtext",
            "id":"bottom_content",
            "label":"Bottom Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Privacy policy – text content"
    }
  ]
}
{% endschema %}
